<%

%>
<article class="nw-article-comment-instance" role="comment">
  <header>
    <img src="/shared/images/avatar.png" alt="Commentator's avatar" loading="lazy" decoding="async">
    <span>Commentator name</span>
  </header>
  <section>
    <p>Comment content</p>
  </section>
  <footer>
    <p>Some footer</p>
  </footer>
</article>