<% 

%>
<article class="nw-article-page">
  <div class="nw-article-controls">
    <button class="material-symbols-rounded" type="button">fullscreen</button>
    <button class="material-symbols-rounded" type="button">toc</button>
    <button class="material-symbols-rounded" type="button">edit</button>
  </div>
  <header class="nw-article-header">
    <section class="nw-article-header__categories">
      In: <a href="">somecat</a>
    </section>
    <h1>Some header</h1>
  </header>
  <hr>
  <main class="nw-article-content">
    <section class="nw-article-tabs">
      <button class="nw-article-tabs__button" data-tab-target="first" type="button">First tab</button>
      <button class="nw-article-tabs__button" data-tab-target="second" type="button">Second tab</button>
    </section>
    <div class="nw-article-tab__content" data-tab="frist">
      <p>Some text content</p>
    </div>
    <div class="nw-article-tab__content" data-tab="second">
      <p>Some text content</p>
    </div>
  </main>
  <footer class="nw-article-footer">
    <section class="nw-article-footer__info">
      <p>Some info</p>
    </section>
    <section class="nw-article-footer__comments">
      Some database connection
    </section>
  </footer>
</article>