<% 

  
%>
<article class="nw-article-page">
  <%- include('./wiki_article_controls.ejs') %>
  <header class="nw-article-header">

    <section class="nw-article-header__categories">
      в: <a href="#">Нагаока (Род)</a>, <a href="#">Личности Ōйнадзумы</a>, <a href="#">Пять регентов Инадзума-но Иватомо</a>
    </section>
    <section class="nw-article-header__title">
      <section class="nw-article-header__badges">
        <%- include('./routines/badge.ejs', { requestedBadge: 'fave' }) %>
      </section>
      <h1 id="article-header">Нагаока Хэйидзи Ёсинобу</h1>
      <div class="nw-article-header__actions">
        <a href="#comments" class="material-symbols-linear btn btn-header-action" type="button" aria-label="Edit article" data-icon="mode_comment">mode_comment</a>
        <div class="material-symbols-linear btn btn-header-action" type="button" aria-label="Edit article" data-icon="more_vert">more_vert</div>
      </div>
    </section>

    <blockquote class="nw-quote">
      <p class="nw-quote__text" data-quote-start="“" data-quote-end="”">
      </p>
      <p class="nw-quote__subscription">
      </p>
    </blockquote>

  </header>
  <section class="nw-article-content" aria-labelledby="article-header">

    <section class="nw-article-tabs" role="tablist">
      <button class="nw-article-tabs__button"
              role="tab"
              id="article-content"
              aria-controls="article-content-panel"
              aria-selected="true"
              data-tab-index="0"
              type="button"
              aria-label="Open article content section">
        О персонаже
      </button>
      <button class="nw-article-tabs__button"
              role="tab"
              id="article-gallery"
              aria-controls="article-gallery-panel"
              aria-selected="false"
              data-tab-index="last"
              type="button"
              aria-label="Open article gallery">
        Галерея
      </button>
    </section>

    <div class="nw-article-tab__content" role="tabpanel" id="article-content-panel" aria-labelledby="article-content">

    </div>
    <div class="nw-article-tab__content" role="tabpanel" id="article-gallery-panel" aria-labelledby="article-gallery">
      Some gallery template
    </div>

  </section>

  <footer class="nw-article-footer">

    <section class="nw-article-interactions">
      <button class="material-symbols-rounded btn" type="button" aria-label="Edit article" data-icon="favorite">favorite</button>
    </section>

    <section class="nw-article-footer__info">
      <p>Some info</p>
    </section>

    <section class="nw-article-footer__comments">
      Some database connection
      <%- include('./wiki_commentary.ejs') %>
      <%- include('./wiki_commentary.ejs') %>
    </section>

  </footer>
</article>
