<% 

%>
<article class="nw-article-page">
  <div class="nw-article-controls">
    <button class="material-symbols-rounded" type="button" aria-label="Expand article block">fullscreen</button>
    <button class="material-symbols-rounded" type="button" aria-label="Open table of contents">toc</button>
    <button class="material-symbols-rounded" type="button" aria-label="Edit article">edit</button>
  </div>
  <header class="nw-article-header">
    <section class="nw-article-header__categories">
      In: <a href="#">somecat</a>
    </section>
    <h1 id="article-header">Some header</h1>
  </header>
  <hr>
  <main class="nw-article-content">
    <section class="nw-article-tabs" role="tablist" aria-labelledby="article-header">
      <button class="nw-article-tabs__button"
              role="tab"
              id="article-content"
              aria-controls="article-content-panel"
              aria-selected="true"
              data-tab-index="0"
              type="button"
              aria-label="Open article content section">
        First tab
      </button>
      <button class="nw-article-tabs__button"
              role="tab"
              id="article-gallery"
              aria-controls="article-gallery-panel"
              aria-selected="false"
              data-tab-index="last"
              type="button"
              aria-label="Open article gallery">
        Second tab
      </button>
    </section>

    <div class="nw-article-tab__content" role="tabpanel" id="article-content-panel" aria-labelledby="article-content">
      <p>Some text content</p>
    </div>
    <div class="nw-article-tab__content" role="tabpanel" id="article-gallery-panel" aria-labelledby="article-gallery">
      Some gallery template
    </div>
  </main>
  <footer class="nw-article-footer">
    <section class="nw-article-footer__info">
      <p>Some info</p>
    </section>
    <section class="nw-article-footer__comments">
      Some database connection
      <article class="nw-article-comment-instance" role="comment">
        <header>
          <img src="/shared/images/avatar.png" alt="Commentator's avatar" loading="lazy" decoding="async">
          <span>Commentator name</span>
        </header>
        <main>
          <p>Comment content</p>
        </main>
        <footer>
          <p>Some footer</p>
        </footer>
      </article>
      <article class="nw-article-comment-instance" role="comment">
        <header>
          <img src="/shared/images/avatar.png" alt="Commentator's avatar" loading="lazy" decoding="async">
          <span>Commentator name</span>
        </header>
        <main>
          <p>Comment content</p>
        </main>
        <footer>
          <p>Some footer</p>
        </footer>
      </article>
    </section>
  </footer>
</article>