<% 

%>
<article class="nw-article-page">
  <div class="nw-article-controls__wrapper">
    <div class="nw-article-controls">
      <button class="material-symbols-rounded btn btn-circle-floating" data-action="expand-article" type="button" aria-label="Expand article block" data-icon="fullscreen">fullscreen</button>
      <button class="material-symbols-rounded btn btn-circle-floating" type="button" aria-label="Open table of contents" data-icon="toc">toc</button>
      <button class="material-symbols-rounded btn btn-circle-floating" type="button" aria-label="Edit article" data-icon="edit">edit</button>
      <button class="material-symbols-rounded btn btn-circle-floating" type="button" aria-label="Edit article" data-icon="translate">translate</button>
    </div>
  </div>
  <header class="nw-article-header">
    <section class="nw-article-header__categories">
      в: <a href="#">Нагаока (Род)</a>, <a href="#">Личности Ōйнадзумы</a>, <a href="#">Пять регентов Инадзума-но Иватомо</a>
    </section>
    <h1 id="article-header">Нагаока Хэйидзи Ёсинобу</h1>
  </header>
  <main class="nw-article-content">
    <section class="nw-article-tabs" role="tablist" aria-labelledby="article-header">
      <button class="nw-article-tabs__button"
              role="tab"
              id="article-content"
              aria-controls="article-content-panel"
              aria-selected="true"
              data-tab-index="0"
              type="button"
              aria-label="Open article content section">
        О персонаже
      </button>
      <button class="nw-article-tabs__button"
              role="tab"
              id="article-gallery"
              aria-controls="article-gallery-panel"
              aria-selected="false"
              data-tab-index="last"
              type="button"
              aria-label="Open article gallery">
        Галерея
      </button>
    </section>

    <div class="nw-article-tab__content" role="tabpanel" id="article-content-panel" aria-labelledby="article-content">
      <p><b>Нагаока Хэйидзи Ёсинобу</b> (長岡 平意地 義信) — четвёртый регент рёсёгуна острова Татарикири, владыки горы Сумпаку, величественного <a href="#">Асидзава Иватомо</a>.</p>
      <p>Повседневная практика показывает, что консультация с широким активом играет важную роль в формировании систем массового участия. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры позволяет оценить значение форм развития. Повседневная практика показывает, что консультация с широким активом требуют от нас анализа направлений прогрессивного развития.</p>
      <p>Равным образом рамки и место обучения кадров позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Равным образом новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий.</p>
      <p>Товарищи! новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития. С другой стороны укрепление и развитие структуры требуют от нас анализа дальнейших направлений развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий позволяет оценить значение форм развития.</p>
      <h2>Имена и род</h2>
      <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! консультация с широким активом способствует подготовки и реализации новых предложений. Равным образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.</p>
      <p>Задача организации, в особенности же постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! консультация с широким активом способствует подготовки и реализации новых предложений. Равным образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.</p>
    </div>
    <div class="nw-article-tab__content" role="tabpanel" id="article-gallery-panel" aria-labelledby="article-gallery">
      Some gallery template
    </div>
  </main>
  <footer class="nw-article-footer">
    <section class="nw-article-footer__info">
      <p>Some info</p>
    </section>
    <section class="nw-article-footer__comments">
      Some database connection
      <article class="nw-article-comment-instance" role="comment">
        <header>
          <img src="/shared/images/avatar.png" alt="Commentator's avatar" loading="lazy" decoding="async">
          <span>Commentator name</span>
        </header>
        <main>
          <p>Comment content</p>
        </main>
        <footer>
          <p>Some footer</p>
        </footer>
      </article>
      <article class="nw-article-comment-instance" role="comment">
        <header>
          <img src="/shared/images/avatar.png" alt="Commentator's avatar" loading="lazy" decoding="async">
          <span>Commentator name</span>
        </header>
        <main>
          <p>Comment content</p>
        </main>
        <footer>
          <p>Some footer</p>
        </footer>
      </article>
    </section>
  </footer>
</article>