<% 

%>
<div class="nw-article-controls__wrapper">
  <div class="nw-article-controls">
    <button 
      class="material-symbols-rounded btn btn-circle-floating nw-page-action__expand-page"
      data-action="expand-article"
      type="button"
      aria-label="Expand article block"
      data-icon="fullscreen">
    </button>
    <button
      class="material-symbols-rounded btn btn-circle-floating nw-page-action__table-of-contents"
      type="button"
      data-action="open-toc"
      aria-label="Open table of contents"
      data-icon="toc">
    </button>
    <a
        class="material-symbols-rounded btn btn-circle-floating nw-page-action__edit"
        type="button"
        data-action="edit-article"
        aria-label="Edit article"
        data-icon="edit">
    </a>
    <button
        class="material-symbols-rounded btn btn-circle-floating nw-page-action__alt-languages"
        type="button" 
        data-action="article-alt-languages"
        aria-label="Edit article"
        data-icon="translate">
    </button>
  </div>
</div>
