<% 

%>
            <div class="nw-article-controls__wrapper">
              <div class="nw-article-controls">
                <button 
                  class="material-symbols-rounded btn btn-circle-floating"
                  data-action="expand-article"
                  type="button"
                  aria-label="Expand article block"
                  data-icon="fullscreen">
                </button>
                <button
                  class="material-symbols-rounded btn btn-circle-floating"
                  type="button"
                  aria-label="Open table of contents"
                  data-icon="toc">
                </button>
                <button
                    class="material-symbols-rounded btn btn-circle-floating"
                    type="button"
                    aria-label="Edit article"
                    data-icon="edit">
                </button>
                <button
                    class="material-symbols-rounded btn btn-circle-floating"
                    type="button" 
                    aria-label="Edit article"
                    data-icon="translate">
                </button>
              </div>
            </div>
