.idea/
node_modules/
app/
source/
cache/
nginx/html/
.vercel
index.js
extensions/*/*
!extensions/*/src/
modules/*/*
!modules/*/src/
bin/
static/site.maps/*.xml
static/site.maps/*.xml.gz
.env
*.crt
*.key
out.log
error.log
Tools/phpMyAdmin/*
!Tools/phpMyAdmin/LICENSE