$shadow-22a10: #22222210;
$shadow-22a29: #22222229;
$shadow-22a64: #22222264;
$shadow-22a86: #22222286;
$shadow-00a95: #00000095;

$text-33: #333;
$text-48: #484848;
$text-d5: #d5d5d5;
$text-ee: #eee;
$text-ed: #ededed;
$text-fe: #fefefefe;
$text-a4: #A4A4A4;
$text-8d: #8d8d8d;


$color-body-main: #FEFEFE;

$color-quote-main: #EFEFEF;
$color-quote-border: #DEDEDE;

$color-border-main: #B3B3B3;

$color-btn-main: $color-body-main;


$color-gold-dark: #E1AA4B;
$color-gold-dark-emboss: #fbc76e;
$color-gold-pale: #E2B13C;
$color-gold-pale-semilight: #FFD228;

$color-gold-orange: #E08A1E;
$color-gold-orange-5f: #E08A1E5f;
$color-gold-hover: #FEDB1D;
$color-gold-med-hover: #FFE727;
$color-gold-light-hover: #FFF527;
$color-gold-semi-light: #ffd228;
$color-gold-dirty: #C29819;
$color-gold-selected: #EBC824;
$color-gold-light: #ffed9a;

$color-kamon-red: #dc4032;