$color-jp-ikkonzome: #F08F90;
$color-jp-koubai-iro: #DB5A6B;
$color-jp-sakura-iro: #FCC9B9;
$color-jp-usubeni: #F2666C;
$color-jp-momo-iro: #F47983;
$color-jp-nakabeni: #C93756;
$color-jp-arazome: #FFB3A7;
$color-jp-tokiha-iro: #F58F84;
$color-jp-choushun-iro: #B95754;
$color-jp-enji-iro: #9D2933;
$color-jp-jinzamomi: #F7665A;
$color-jp-umenezumi: #97645A;
$color-jp-akabeni: #C3272B;
$color-jp-azuki-iro: #672422;
$color-jp-ebicha: #5E2824;
$color-jp-akebono-iro: #FA7B62;
$color-jp-shoujouhi: #DC3023;
$color-jp-kakishibu-iro: #934337;
$color-jp-benitobi: #913228;
$color-jp-kurotobi: #351E1C;
$color-jp-terigaki: #D34E36;
$color-jp-edoucha: #A13D2D;
$color-jp-hihada-iro: #752E23;
$color-jp-araishu: #FF7952;
$color-jp-tokigaracha: #E68364;
$color-jp-sohi: #E35C38;
$color-jp-karacha: #B35C44;
$color-jp-soudenkaracha: #9B533F;
$color-jp-kurikawacha: #60281E;
$color-jp-tobi-iro: #4C221B;
$color-jp-shu-iro: #FF3500;
$color-jp-sakuranezumi: #AC8181;
$color-jp-karakurenai: #C91F37;
$color-jp-kokiake: #7B3B3A;
$color-jp-mizugaki: #B56C60;
$color-jp-suo-kou: #A24F46;
$color-jp-shinshu: #8F1D21;
$color-jp-ginshu: #BC2D29;
$color-jp-kiriume: #8B352D;
$color-jp-sango-iro: #F8674F;
$color-jp-shikancha: #AB4C3D;
$color-jp-benikaba: #9D2B22;
$color-jp-benihibata: #6F3028;
$color-jp-benihi: #F35336;
$color-jp-ake: #CF3A24;
$color-jp-bengara-iro: #913225;
$color-jp-shishi-iro: #F9906F;
$color-jp-akakou-iro: #F07F5E;
$color-jp-otan: #FF4E20;
$color-jp-enshuucha: #CB6649;
$color-jp-kabacha: #B14A30;
$color-jp-suzumecha: #8C4736;
$color-jp-momoshiocha: #542D24;
$color-jp-kurumizome: #9F7462;
$color-jp-kourozen: #592B1F;
$color-jp-kokikuchinashi: #F57F4F;
$color-jp-taisha-iro: #9F5233;
$color-jp-tonocha: #985538;
$color-jp-sharegaki: #FFA26B;
$color-jp-kanzou-iro: #FF8936;
$color-jp-beniukon: #FB8136;
$color-jp-kenpouzome: #2E211B;
$color-jp-kohaku-iro: #CA6924;
$color-jp-kuchiba-iro: #D57835;
$color-jp-choujizome: #A96232;
$color-jp-fushizome: #8C5939;
$color-jp-susutake-iro: #593A27;
$color-jp-oudou-iro: #BE7F51;
$color-jp-kigaracha: #B7702D;
$color-jp-akakuchiba: #DB8449;
$color-jp-kaba-iro: #B64925;
$color-jp-kogecha: #351F19;
$color-jp-araigaki: #EC8254;
$color-jp-akashirotsurubami: #EC956C;
$color-jp-sencha-iro: #824B35;
$color-jp-usugaki: #FCA474;
$color-jp-umezome: #FA9258;
$color-jp-choujicha: #8F583C;
$color-jp-biwacha: #AB6134;
$color-jp-usukou: #FFA565;
$color-jp-kincha: #C66B27;
$color-jp-kitsune-iro: #985629;
$color-jp-kyara-iro: #6A432D;
$color-jp-shiracha: #C48E69;
$color-jp-kinsusutake: #7D4E2D;
$color-jp-kobicha: #6B4423;
$color-jp-asagi: #F7BB7D;
$color-jp-tamago-iro: #FFA631;
$color-jp-yamabukicha: #CB7E1F;
$color-jp-namakabe-iro: #785E49;
$color-jp-toumorokoshi-iro: #FAA945;
$color-jp-kitsurubami: #BB8141;
$color-jp-hanaba-iro: #FFB94E;
$color-jp-ukon-iro: #E69B3A;
$color-jp-rikyushiracha: #B0927A;
$color-jp-aku-iro: #7F6B5D;
$color-jp-rokoucha: #665343;
$color-jp-nataneyu-iro: #A17917;
$color-jp-uguisucha: #5C4827;
$color-jp-kariyasu: #E2B13C;
$color-jp-mushikuri-iro: #D3B17D;
$color-jp-hiwacha: #957B38;
$color-jp-uguisu-iro: #645530;
$color-jp-yamabuki-iro: #FFA400;
$color-jp-hajizome: #E08A1E;
$color-jp-kuwazome: #C57F2E;
$color-jp-kuchinashi: #FFB95A;
$color-jp-shirotsurubami: #CE9F6F;
$color-jp-too: #FFB61E;
$color-jp-torinoko-iro: #E2BE9F;
$color-jp-kikuchiba: #E29C45;
$color-jp-rikyuucha: #826B58;
$color-jp-higosusutake: #7F5D3B;
$color-jp-mirucha: #4C3D30;
$color-jp-kimirucha: #896C39;
$color-jp-nanohanacha: #E3B130;
$color-jp-kihada: #F3C13A;
$color-jp-aokuchiba: #AA8736;
$color-jp-ominaeshi: #D9B611;
$color-jp-hiwa-iro: #BDA928;
$color-jp-yanagicha: #9C8A4D;
$color-jp-aikobicha: #473F2D;
$color-jp-miru-iro: #524B2A;
$color-jp-baikoucha: #857C55;
$color-jp-hiwamoegi: #7A942E;
$color-jp-urahayanagi: #BCB58C;
$color-jp-yanagizome: #8C9E5E;
$color-jp-aoni: #52593B;
$color-jp-aoshirotsurubami: #BBA46D;
$color-jp-rikancha: #534A32;
$color-jp-koke-iro: #8B7D3A;
$color-jp-sensaicha: #3B3429;
$color-jp-iwaicha: #5E5545;
$color-jp-yanagisusutake: #4D4B3A;
$color-jp-usumoegi: #8DB255;
$color-jp-moegi: #5B8930;
$color-jp-matsuba-iro: #454D32;
$color-jp-usuao: #8C9C76;
$color-jp-yanaginezumi: #817B69;
$color-jp-chitosemidori: #374231;
$color-jp-byakuroku: #A5BA93;
$color-jp-rokushou: #407A52;
$color-jp-onandocha: #3D4035;
$color-jp-rikyunezumi: #656255;
$color-jp-mushiao: #2D4436;
$color-jp-tonocha: #5A6457;
$color-jp-seiji-iro: #819C8B;
$color-jp-sabitetsuonando: #3A403B;
$color-jp-omeshicha: #354E4B;
$color-jp-wakatake-iro: #6B9362;
$color-jp-oitake-iro: #5E644F;
$color-jp-midori: #2A603B;
$color-jp-sabiseiji: #898A74;
$color-jp-tokusa-iro: #3D5D42;
$color-jp-aotake-iro: #006442;
$color-jp-biroudo: #224634;
$color-jp-aimirucha: #2E372E;
$color-jp-mizuasagi: #749F8D;
$color-jp-seiheki: #3A6960;
$color-jp-tetsu-iro: #2B3733;
$color-jp-kourainando: #203838;
$color-jp-minatonezumi: #757D75;
$color-jp-tetsuonando: #2B3736;
$color-jp-sabiasagi: #6A7F7A;
$color-jp-asagi-iro: #48929B;
$color-jp-sabionando: #455859;
$color-jp-ai-iro: #264348;
$color-jp-hanaasagi: #1D697C;
$color-jp-masuhana-iro: #4D646C;
$color-jp-noshimehana-iro: #344D56;
$color-jp-sora-iro: #4D8FAC;
$color-jp-gunjou-iro: #5D8CAE;
$color-jp-kachi-iro: #181B26;
$color-jp-konjou-iro: #003171;
$color-jp-benimidori: #78779B;
$color-jp-fujinezumi: #766980;
$color-jp-fuji-iro: #89729E;
$color-jp-aonibi: #4F4944;
$color-jp-mizuiro: #86ABA5;
$color-jp-kamenozoki: #C6C2B6;
$color-jp-shinbashi-iro: #006C7F;
$color-jp-ainezumi: #5C544E;
$color-jp-onando-iro: #364141;
$color-jp-chigusa-iro: #317589;
$color-jp-hanada: #044F67;
$color-jp-omeshionando: #3D4C51;
$color-jp-kurotsurubami: #252321;
$color-jp-kon: #192236;
$color-jp-ruri-iro: #1F4788;
$color-jp-rurikon: #1B294B;
$color-jp-konkikyou: #191F45;
$color-jp-benikakehana-iro: #5A4F74;
$color-jp-futaai: #614E6E;
$color-jp-fujimurasaki: #875F9A;
$color-jp-shion-iro: #976E9A;
$color-jp-shikon: #2B2028;
$color-jp-usu-iro: #A87CA0;
$color-jp-sumire-iro: #5B3256;
$color-jp-kurobeni: #23191E;
$color-jp-benifuji: #BB7796;
$color-jp-hatobanezumi: #755D5B;
$color-jp-ebizome: #6D2B50;
$color-jp-boutan: #A4345D;
$color-jp-nisemurasaki: #43242A;
$color-jp-suo: #7E2639;
$color-jp-benikeshinezumi: #44312E;
$color-jp-kikyou-iro: #5D3F6A;
$color-jp-messhi: #3F313A;
$color-jp-kokimurasaki: #3A243B;
$color-jp-hashita-iro: #8D608C;
$color-jp-murasaki: #4F284B;
$color-jp-ayame-iro: #763568;
$color-jp-kakitsubata: #491E3C;
$color-jp-budonezumi: #63424B;
$color-jp-fujisusutake: #4D3B3C;
$color-jp-umemurasaki: #8F4155;
$color-jp-murasakitobi: #512C31;
$color-jp-kuwazome: #59292C;
$color-jp-shironeri: #FFDDCA;
$color-jp-ginnezumi: #97867C;
$color-jp-dobunezumi: #4B3C39;
$color-jp-binroujizome: #352925;
$color-jp-kokushoku: #171412;
$color-jp-shironezumi: #B9A193;
$color-jp-sunezumi: #6E5F57;
$color-jp-aisumicha: #393432;
$color-jp-sumi-iro: #27221F;
$color-jp-aijiro: #EBF6F7;