<% 
  const layoutData = {};
  layoutData.queriedMode = request.query?.mode && VALID_MODES.includes(request.query.mode) ? request.query.mode : null;
  layoutData.queriedSelect = request.query?.select && VALID_SELECT.includes(request.query.select) ? request.query.select : null;

  layoutData.queriedLanguage = (
    request.urlLanguageRequest ||
    request.query?.lang ||
    request.query?.userLang ||
    request.headers['accept-language']?.substring(0, 2) ||
    null
  );

  if (!serverConfig.language.supported.includes(layoutData.queriedLanguage)) layoutData.queriedLanguage = serverConfig.language.default;


  layoutData.pageUrl = `${request.protocol}://${request.hostname}${request.url}`;
  layoutData.cannonicalUrl = layoutData.queriedMode && request.path === '/' ? `${request.protocol}://${request.hostname}${request.path}?mode=${layoutData.queriedMode}` : `${request.protocol}://${request.hostname}${request.path}`;
  layoutData.domainUrl = `${request.protocol}://${request.hostname}`;


  layoutData.orientationMode = ['mobile', 'tablet'].includes(request.headers['detected-user-device']) && /(kamon|banners|pattern)/i.test(layoutData.queriedMode) ? ', orientation=landscape' : null;

  layoutData.webmanifest = JSON.parse(fs.readFileSync(path.join(`${__PROJECT_DIR__}/assets/manifest/manifest.${layoutData.queriedLanguage}.webmanifest`), 'utf8'));

  layoutData.favicon = request.isHomePage ? '/local/images/svg/favicon.svg?to=png&r=' : '/shared/images/ashihara.svg?bg=282828&to=png&br=50perc&p=3&r='
%> 
<!DOCTYPE html>
<html lang="<%= layoutData.queriedLanguage %>" data-queried-mode="<%= layoutData.queriedMode ?? 'default' %>">
  <head>
    <%- include('./document/head.ejs', { ...layoutData }) %>
  </head>
  <body>
    <%- include('./document/body.ejs', { ...layoutData }) %>
  </body>
</html>
