mixin testlink(link, title)
  a(href=link target='_blank')=title
div
  | Test div
  +testlink('vk.com', 'The test mixin link Title')
  br
  | asnfjansfjasf
  br
  | AAAAAAAAAAAAAAAAAAAAAAAAAAAA
  br
  | asfkkpasfmpas
  item-prop testing item prop