<!DOCTYPE html><script>
setTimeout(() => {
  
        const savedSettings = localStorage.getItem('savedSettings');
        console.log('Saved settings:', savedSettings);
        const POST = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(savedSettings)
        };
        if (savedSettings !== null) {
          fetch('/settings', POST).then(response => !response.ok ? console.error(response) : console.log(response)).then(result => console.log(result));
        }
}, 100);
</script>
<html lang="<%= __SETTING_CONFIG__.get('lang') %>"><head><%- HEAD %></head><body><%- BODY %></body></html>