<% 

%><section class="nw-root-container" role="region" aria-labelledby="fandom-title">
    <%- include('../components/header.ejs') %>
    <%- include('../components/main.ejs') %>
    <%- include('../components/footer.ejs') %>
  </section>