@import 'roots/fonts';
@import 'roots/colors';
$base-font-size: 12pt;
$base-line-height: 1.45em;


//! touch-action: none; БЛОКИРОВКА МОБИЛЬНОГО ТАЧА ДЛЯ БЛОКА С ЗУМОМ ИЗОБРАЖЕНИЙ
*,
::after,
::before {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

button, input {font-family: inherit;}
html, body {
  font: {
    size: $base-font-size;
    family: $font-wiki;
  }
  line-height: $base-line-height;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
p, hr {margin: 0;}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}

@mixin font-size($size) {
  font-size: $size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
  margin: 0;

  @include font-size(1.75rem);

  @at-root h2 {
    @include font-size(1.60rem);
  }
  @at-root h3 {
    @include font-size(1.45rem);
  }
  @at-root h4 {
    @include font-size(1.30rem);
  }
  @at-root h5 {
    @include font-size(1.15rem);
  }
  @at-root h6 {
    @include font-size(1.00rem);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var($color-gold-pale-semilight) var($shadow-22a29);

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var($color-gold-pale-semilight) var($shadow-22a29);
  }

  ::selection {
    background-color: var($color-gold-dark);
    color: var($text-fe);
    text-shadow: 1px 1px 3px #000000;
  }
}


body {
  background: url('/shared/images/wallpaper.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}


@import 'stylesets/wiki';