@import 'roots/fonts';
@import 'roots/colors';
@import 'stylesets/buttons';
$base-font-size: 10.5pt;
$base-line-height: 1.5em;


//! touch-action: none; БЛОКИРОВКА МОБИЛЬНОГО ТАЧА ДЛЯ БЛОКА С ЗУМОМ ИЗОБРАЖЕНИЙ
*,
::after,
::before {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

button, input {font-family: inherit;}
html, body {
  font: {
    size: $base-font-size;
    family: $font-wiki;
  }
  color: $text-33;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
p, hr {margin: 0;}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}

@mixin font-size($size) {
  font-size: $size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
  margin: 0;

  @include font-size(2rem);
  @at-root h1 {
    font-family: $font-h1;
  }
  @at-root h2 {
    @include font-size(1.60rem);
  }
  @at-root h3 {
    @include font-size(1.45rem);
  }
  @at-root h4 {
    @include font-size(1.30rem);
  }
  @at-root h5 {
    @include font-size(1.15rem);
  }
  @at-root h6 {
    @include font-size(1.00rem);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: $color-gold-pale-semilight $shadow-22a29;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-gold-pale-semilight $shadow-22a29;
  }

  ::selection {
    background-color: $color-gold-dark;
    color: $text-fe;
    text-shadow: 1px 1px 3px #000000;
  }
}

a {
  text-decoration: none;
  color: $color-gold-orange;

  &.listButton {
    color: $text-33;
  }

  &.listButton:hover,
  &:hover {
    color: $color-gold-hover;
  }

  &:focus,
  &:active {
    color: $color-gold-pale;
  }
}




body {
  position: relative;
  display: flex;
  height: auto;
  min-height: 100dvh;
  background: url('/shared/images/wallpaper.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}


@import 'stylesets/wiki';
@import 'stylesets/wiki-article';