<%
  let badgeType, badgeAlt;
  let badgeLink = '/images/svg/'

  if (requestedBadge.startsWith('fave')) badgeLink = `${badgeLink}fave.svg`;
  else badgeLink = `${badgeLink}favicon.svg`;

%>
<div class="nw-badge nw-badge--<%= requestedBadge %>">
  <img src="<%= badgeLink %>" alt="" heigh="24" width="24">
</div>